// @import "./node_modules/bulma/bulma";
@import "./node_modules/foundation-sites/scss/foundation";

// @include foundation-everything($prototype: true);

@include foundation-prototype-classes;
@include foundation-xy-grid-classes;
@include foundation-visibility-classes;
@include foundation-flex-classes;

@include foundation-text-alignment;

$c-orange: #F9B000;

.c-orange {
    color: $c-orange;
}
.interactive-wrapper {
    background-color: black;
}
:root {
    --c-orange: #{$c-orange};
}
h1, h2, h3, h4 {
    color: var(--c-orange);
}
body {
    color: black;
    line-height: 1.6;
    font-size: 1.3rem;
}

p {
    padding-top: 1rem;
}
.hr {
    height: 2px;
    background-color: #5a5a5a;
}

.w-100 {
    width: 100%;
}
.panel {
    background-color: #0009;
}
.list-unstyled {
    list-style: none;
    margin: 0;
}
.pin {
    position: fixed !important;
}

.frame {
    padding: 2rem;

    @include breakpoint(medium) {
        padding: 4rem 4rem;
    }
    &.bright {
        background-color: $c-orange;
        h2 {
            color: white;
        }
    }
}
.content-panel {
    min-height: 100vh;
    outline: 1px solid black;
    border-bottom: 10px solid red;
}

video {
    width: 100%;
}
.video {

    position: relative;
    
    nav {
        position: absolute;
        z-index: 1;
        width: 100%;
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    
        button {
            background: transparent;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
}

#Header {
    background-color: $c-orange;
    // .hero {
    //     height: calc(80vh - 10rem);

    // }
}

.brand-bar {
    padding: 1.4rem 0 1rem;
}

.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100%;
    height: calc(80vh - 10rem);
    background-size: cover;
    background-position: 50% 30%;
    background-image: url("<%= path %>/images/hero.png");


    @include breakpoint(medium) {

        h1 {
            font-size: 2rem;
        }
        .block {
            width: 60%;
        }
    }

    @include breakpoint(large) {

        h1 {
            font-size: 3rem;
        }        
        .block {
            width: 30%;
        }
    }


    h1 {
        padding: 2rem;
    }

}

.chapter-1 {
    .article-1 {
        background: url("<%= path %>/images/ch1_bg.jpg") no-repeat 50%;
        background-size: 150%;
    }

    ul.test-steps {
        counter-reset: steps;
        @extend .list-unstyled;

        li {
            text-align: center;
            &:before {
                counter-increment: steps;
                content: counter(steps);
                background-color: $c-orange;
                border-radius: 50%;
                display: inline-block;
                line-height: 1;
                font-size: 2rem;
                min-width: 2rem;
                margin: 2rem 0 1rem;
                padding: 0.5rem;
            }

            img {
                border: 1px solid $c-orange;
                display: block;
            }
        }
    }

    .article-2 {
        background: url("<%= path %>/images/ch1_bg2.jpg") no-repeat 70% 50%;
        background-size: cover;
    }
}



.chapter-2 {
    .article-1 {
        background: url("<%= path %>/images/ch2_section1_bg.jpg") no-repeat 50%;
        background-size: cover;
    }

    .article-2 {
        background: url("<%= path %>/images/ch2_section2_bg.jpg") no-repeat 70% 50%;
        background-size: cover;
    }
}

.steps {
    background: linear-gradient(transparent 30%, black 70%), url("<%= path %>/images/steps_bg.jpg") no-repeat 50% 0;
    background-size: 100%;
}

footer {
    h2 {
        color: white;
    }
    background-color: #121212;
}

.related-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    li {
        background-color: #F6F6F6;
        color: #121212;
        padding: 1rem;
    }
}

.bg-video-container {
    position: relative;
    > video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

video.fix {
    width: 100vw;
    height: 100vh;
}

